.heading-text {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dddddd;
}

body {
    background-color: #010101;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

h4 {

    text-align: center;
}
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*transform: rotateY(180deg); */
    transition: 1500ms;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: 0vh 320px 450px 320px;

    position: relative;
}

.card__face {
    border: thin #343434 solid;
    
    margin: 5px;
    /* padding: 3px; */
    /* box-shadow: 3px -3px 3px #373737; */
    position: absolute;
    backface-visibility: hidden;
}



.card__face--back {
    transform: rotateY(180deg);
    min-height: 400px;
    min-width: 400px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
}


.card.flipped {
    transform: rotateY(180deg);

}

figcaption {
    background-color: darkslateblue;
    color: #EEEEEE;
    font: bold small times;
    padding: 2px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#newCardButton {
    color: white;
    min-width: 150px;
    min-height: 50px;
    display: flex;
    justify-content: center;
}